.ui-modal-dialog-mask {
  background: #ccc;
  opacity: .65;
  -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=65);
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=65);
}
:root .ui-modal-dialog-mask {
  filter: none \9;
}
