@-webkit-keyframes bounceIn {
  /* 默认 */
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
  70% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
  }
  70% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05)
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes bounceOut {
  /* 关闭动画 */
  100% {
    opacity: 0;
    -webkit-transform: scale(.7);
    transform: scale(.7)
  }
  30% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
  }
  30% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.ui-dialog-backdrop {
  background: #fff;
  opacity: .65;
  -ms-filter: alpha(Opacity=65);
  filter: alpha(Opacity=65);
}

:root .ui-dialog-backdrop {
  filter: none\9;
}

.ui-dialog {
  /* http://ued.taobao.com/blog/2011/04/onfocus-this-blur/ */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
}

.ui-dialog-show {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.ui-dialog-close {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}
